.wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 100px 10px;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 120px;
    z-index: 1000;
    min-width: 1200px;
    justify-content: center;
    border-bottom: 1px solid #e5e7eb;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 3px 4px 0px;
}

.navContainer {
    width: 1024px;
    display: flex;
    align-items: flex-end;
    position: relative;
    margin: 0 auto;
    height: 100%;
}

.logo {
    position: absolute;
    left: -20px;
}

.nav_links {
    display: flex;
    list-style: none;
    font-size: 1.5rem;
    gap: 5rem;
    margin: 0 auto;
    position: relative;
    padding-bottom: 10px;
}

.nav_links a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

.nav_icons {
    position: absolute;
    right: 2rem;
    top: 35px;
    display: flex;
    gap: 1rem;
}

.iconButton {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.linkButton {
    display: flex;
    align-items: center;
    gap: 8px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: inherit;
    color: #333;
    padding: 0;
    font-weight: 500;
}

.linkButton:hover {
    color: #2563eb;
}