/* app/(categories)/components/SearchHeader.module.css */
.header {
    background-color: #59BAFF;
    padding: 1rem 0;
    margin-top: 120px;  /* MainHeader 높이만큼 마진 추가 */
    width: 100%;
}

.navbar {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}

.searchContainer {
    max-width: 800px;
    margin: 0 auto;
    position: relative;
}

.searchInput {
    width: 100%;
    padding: 1rem;
    border-radius: 25px;
    border: none;
    font-size: 1rem;
    outline: none;
    padding-right: 3rem;
}

.searchButton {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.5rem;
}