/* [project]/app/(home)/page.module.css [app-client] (css) */
.page-module__9Nu8FG__heroSection {
  text-align: center;
  color: #fff;
  background-color: #59baff;
  padding: 9rem 2rem 2rem;
}

.page-module__9Nu8FG__heroTitle {
  margin-bottom: 2rem;
  font-size: 2.5rem;
}

.page-module__9Nu8FG__searchContainer {
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}

.page-module__9Nu8FG__searchInput {
  border: none;
  border-radius: 25px;
  width: 100%;
  padding: 1rem;
  font-size: 24px;
}

.page-module__9Nu8FG__searchButton {
  cursor: pointer;
  background: none;
  border: none;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

.page-module__9Nu8FG__searchTags {
  justify-content: center;
  gap: 2rem;
  margin-top: 1.5rem;
  display: flex;
}

.page-module__9Nu8FG__tag {
  cursor: pointer;
  white-space: nowrap;
  background-color: #fff;
  border: none;
  border-radius: 20px;
  width: -moz-fit-content;
  width: fit-content;
  padding: .5rem 2rem;
  font-size: 16px;
}

.page-module__9Nu8FG__features a, .page-module__9Nu8FG__features a:hover {
  color: inherit;
  text-decoration: none;
}

.page-module__9Nu8FG__features {
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px;
  display: grid;
}

.page-module__9Nu8FG__featureItem {
  background: #fff;
  border-radius: 12px;
  align-items: center;
  width: 100%;
  height: 100px;
  padding: 10px;
  transition: box-shadow .2s;
  display: flex;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .2);
}

.page-module__9Nu8FG__featureImage {
  object-fit: contain;
  width: 60px;
  height: 60px;
  margin-right: 16px;
}

.page-module__9Nu8FG__featureText {
  text-align: center;
  flex-direction: column;
  align-items: center;
  display: flex;
}

.page-module__9Nu8FG__featureText h3 {
  text-align: center;
  margin: 0;
  font-size: 16px;
  font-weight: 600;
}

.page-module__9Nu8FG__featureText span {
  text-align: center;
  margin: 0;
  font-size: 14px;
  font-weight: 400;
}

@media (max-width: 768px) {
  .page-module__9Nu8FG__features {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .page-module__9Nu8FG__features {
    grid-template-columns: 1fr;
  }
}

.page-module__9Nu8FG__tooltipContainer {
  align-items: center;
  margin-left: 4px;
  display: inline-flex;
  position: relative;
}

.page-module__9Nu8FG__tooltip {
  visibility: hidden;
  text-align: center;
  opacity: 0;
  white-space: nowrap;
  z-index: 999;
  background-color: #000;
  border-radius: 8px;
  margin-bottom: 5px;
  padding: 8px 12px;
  font-size: 13px;
  font-weight: normal;
  transition: opacity .2s;
  position: absolute;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  color: #fff !important;
}

.page-module__9Nu8FG__tooltip:after {
  content: "";
  border: 5px solid rgba(0, 0, 0, 0);
  border-top-color: #000;
  margin-left: -5px;
  position: absolute;
  top: 100%;
  left: 50%;
}

.page-module__9Nu8FG__tooltipContainer:hover .page-module__9Nu8FG__tooltip {
  visibility: visible;
  opacity: 1;
}

.page-module__9Nu8FG__tooltipContainer img {
  cursor: pointer;
  vertical-align: middle;
}

/*# sourceMappingURL=app_%28home%29_page_module_9d9bedff.css.map*/