/* components/CategoryHeader.module.css */
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.titleSection {
    display: flex;
    align-items: center;
    gap: 20px;  /* 제목과 총 개수 사이의 간격 */
}

.title {
    font-weight: bold;
    margin-right: 10px;
    font-size: 28px;
    display: flex;
    align-items: center;
    gap: 10px;  /* 이미지와 텍스트 사이 간격 */
}

.count {
    font-size: 16px;
    color: #666;
}

.rightSection {
    display: flex;
    align-items: center;
}

.sortSelect {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-left: 20px;
}

.itemCount {
    background-color: #f5f5f5;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.9rem;
}

.categories {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    padding-bottom: 10px;
}

.categoryButton {
    padding: 8px 16px;
    border: none;
    background: none;
    font-size: 1rem;
    cursor: pointer;
    white-space: nowrap;
}

.categoryButton.active {
    font-weight: bold;
    color: #59BAFF;
}

.categoryIcon {
    object-fit: contain;
}