.pagingUl {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 77px;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

.pagingBtn {
    width: 50px;
    height: 30px;
    background-color: #fff;
    border: 1px solid #000000;
    box-sizing: border-box;
}

.pagingBtn:hover {
    background-color: #c1c1c1;
    color: #fff;
    border: 1px solid #c1c1c1;
}

.noPagingBtn {
    width: 30px;
    height: 30px;
    background-color: #fff;
    border: 1px solid #c1c1c1;
    color: #c1c1c1;
    box-sizing: border-box;
}

.noPagingBtn:hover {
    background-color: #c1c1c1;
    color: #fff;
}

.bdRadiusLeft {
    border-radius: 3px 0 0 3px;
}

.bdRadiusRight {
    border-radius: 0 3px 3px 0;
}

.btn {
    cursor: pointer;
}

/* 버튼 상태별 스타일 */
.currentPage {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #000000;
}

.disabledBtn {
    border: 1px solid #c1c1c1;
    cursor: not-allowed;
}
