.productGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: 1rem;
}

.productCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border-radius: 8px;
    background-color: #fff;
    height: 100%;
    border: 1px solid #ddd;
    position: relative;
}

.productCard:hover {
    transform: translateY(-4px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.imageContainer {
    position: relative;
    width: 200px;
    height: 200px;
    margin-bottom: 1rem;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.productImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.productName {
    font-size: 16px;
    font-weight: 600;
    padding: 0 0.5rem;
    min-height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5rem 0;
    width: 100%;
}

.warningIcons {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    gap: 8px;
}

.tooltipContainer {
    position: relative;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
}

.tooltip {
    visibility: hidden;
    position: absolute;
    right: 0;
    bottom: 100%;
    margin-bottom: 8px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 8px;
    border-radius: 4px;
    font-size: 12px;
    width: 200px;
    z-index: 2;
    text-align: center;
}

.tooltip::after {
    content: '';
    position: absolute;
    bottom: -4px;
    right: 8px;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid rgba(0, 0, 0, 0.8);
}

.tooltipContainer:hover .tooltip {
    visibility: visible;
}

.nutritionTable {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: 1px solid #e2e8f0;
    border-radius: 4px;
    gap: 0;
}

.nutritionRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    padding: 0.25rem;
    height: 30px;
    background: white;
}

.nutritionRow:not(:empty) {
    border-right: 1px solid #e2e8f0;
    border-bottom: 1px solid #e2e8f0;
}

.nutritionRow:nth-child(2n):not(:empty) {
    border-right: none;
}

.nutritionLabel {
    color: #666;
    font-size: 11px;
    letter-spacing: -0.5px;
}

.nutritionValue {
    font-weight: 500;
    font-size: 12px;
    color: #333;
}

.warningIconsContainer {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
    padding: 0;
    min-height: auto;
    width: auto;
}

.warningIcon {
    width: 30px;
    height: 30px;
    object-fit: contain;
}

.coffeeIcon {
    width: 30px;
    height: 30px;
    object-fit: contain;
}
